@charset "UTF-8";
body {
    background-color: green;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
}
h1 {
    color: black;
    text-align: center;
}
h2 {
    background-color: green;
    color: darkgrey;
    text-align: center;    
}
h3 {
    color: white
}
p {
    color: white
}
footer {
    color: beige;
    font-size: 12px;
}
div{
    background-image: url(imagens/contato.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-position: center; /* Centraliza a imagem */
    height: 70vh; /* Altura da tela toda */
    display: flex; /* Ativa o Flexbox */
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    font-size: 3rem; /* Tamanho do texto */
    text-align: center;     
}